.main-page {
    h1, .h1 {
        margin-top: 46px;
        font-size: 80px;
        line-height: 95%;
        color: $color-white;
        @include mq('desktop-tiny') {
            margin-top: -8px;
            margin-bottom: 26px;
            font-size: 48px;
            line-height: 105%;
            letter-spacing: -0.05em;
            
        }
        @include mq('phone') {
            margin-top: 24px;
        }
    }
}
