@import '../../scss/helpers/_variables';

.hero-pharmacy {
	h2 {
		@media (max-width: 768px) {
			line-height: 106% !important;
		}
	}
	&.hero-services {
		.top-main__container {
			h1.mob {
				display: none;
				@media (max-width: 480px) {
					display: block;
				}
			}
			h1 {
				margin-top: -14px;

				@media (max-width: 480px) {
					display: none;
				}
				@media (max-width: 1200px) {
					font-size: 36px;
					margin-top: -10px;
				}
				@media (max-width: 768px) {
					line-height: 106% !important;
				}
			}
		}

		@media (max-width: 992px) {
			.top-main__adv {
				margin-top: 36px;
			}
		}
	}

	.hero-manufactures__offer__bottom {
		margin-top: 36px;
		.pdf {
			&:before {
				width: 62px !important;
				margin-right: 23px !important;
				@media (max-width: 768px) {
					margin-right: 2px !important;
				}
			}
		}
		@media (max-width: 1200px) {
			margin-top: 27px !important;
			padding-top: 28px;
			gap: 36px;
		}
		@media (max-width: 480px) {
			margin-top: 30px !important;
			padding-top: 29px;
			gap: 29px;
		}
	}
	.top-main__adv {
		.card-type-1 {
			height: 249px !important;
			@media (max-width: 1200px) {
				height: 200px !important;
			}

			@media (max-width: 480px) {
				width: 320px !important;
				padding: 30px !important;
			}
			.card--value {
				@media (max-width: 768px) {
					letter-spacing: -0.6px;
				}
				@media (max-width: 480px) {
					margin-bottom: 16px;
				}
			}
		}
	}

	.top-main__adv {
		margin-top: -4px !important;
		@media (max-width: 480px) {
			display: flex;
			flex-direction: column;
			align-items: center;
			row-gap: 5px;
		}
	}
	.top-main__adv .card-type-1:nth-child(1) {
		.card--value {
			margin-top: -4px;
		}
		.card--desc {
			margin-bottom: 11px;
		}
	}
	.top-main__adv .card-type-1:nth-child(4) {
		.card--desc {
			top: -7px;
		}
	}
	.top-main__adv .card-type-1:nth-child(1),
	.top-main__adv .card-type-1:nth-child(4) {
		grid-column: 1 / span 2;

		.card-type-1__img img {
			width: 100%;
		}

		@media (max-width: 767px) {
			grid-column: unset;
		}
	}

	.top-main__adv .card-type-1:nth-child(4) {
		.card--desc {
			max-width: 313px;
		}
	}

	@media (max-width: 1510px) {
		.top-main__container {
			grid-template-columns: 695px 1fr !important;
		}
	}

	@media (max-width: 1370px) {
		.top-main__container {
			grid-template-columns: 595px 1fr !important;
			gap: 36px;
		}
	}
	@media (max-width: 1300px) {
		.top-main__container {
			grid-template-columns: 595px 1fr !important;
			gap: 16px !important;
		}
	}
	@media (max-width: 1200px) {
		.top-main__container {
			grid-template-columns: 405px 1fr !important;
			gap: 30px !important;
		}
	}
	@media (max-width: 1024px) {
		.top-main__container {
			grid-template-columns: 1fr !important;

			gap: 36px;
		}
	}
	@media (max-width: 768px) {
		.top-main__container {
			grid-template-columns: 1fr !important;

			gap: 40px !important;
		}
	}

	.card-type-1 {
		@media (max-width: 768px) {
			padding: 29px 30px 19px !important;
		}
		&:nth-child(1) {
			@media (max-width: 480px) {
				.card--value {
					margin-bottom: 11px;
				}
				.digits {
					top: 117px;
					.digits__digit {
						margin-bottom: 8px;
					}
				}
			}
		}
		&:nth-child(2) {
			@media (max-width: 768px) {
				padding: 26px 30px 19px !important;
			}
			@media (max-width: 480px) {
				padding: 26px 30px 19px !important;
				.card--value {
					margin-bottom: 9px;
				}
			}
		}
		&:nth-child(3) {
			@media (max-width: 768px) {
				padding: 27px 30px 52px !important;
				.card--value {
					letter-spacing: -1px;
				}
			}
			@media (max-width: 480px) {
				height: 165px !important;
				padding: 27px 30px 52px !important;

				.card--value {
					margin-bottom: 9px;
				}
			}
		}
		&:nth-child(4) {
			@media (max-width: 768px) {
				padding: 26px 30px 23px !important;
				.card--value {
					letter-spacing: -1.5px;
				}
			}
		}
		.digits {
			position: absolute;
			width: 295px;
			right: 30px;
			top: 38px;
			margin-top: -1px;
			@media (max-width: 768px) {
				margin-top: 3px;
				right: 32px;
			}
			.digits__digit {
				margin-bottom: 24px;
				display: flex;
				align-items: flex-end;
				width: 100%;
				@media (max-width: 768px) {
					margin-bottom: 21px;
				}
				&:last-child {
					margin-bottom: 0;
					span {
						@media (max-width: 768px) {
							margin-right: 11px;
						}
					}
					p {
						white-space: nowrap;
						@media (max-width: 1200px) {
							white-space: wrap;
						}
					}
				}

				span {
					font-size: 40px;
					color: $color-violet;
					margin-right: 20px;
					line-height: 1;
					display: block;
					@media (max-width: 768px) {
						letter-spacing: -1px;
						margin-right: 14px;
					}
				}

				p {
					letter-spacing: 1.2px;
					font-size: 16px;
					margin-top: 0;
					padding-bottom: 5px;
					line-height: 1;
					@media (max-width: 768px) {
						letter-spacing: 0.1px;
					}
				}
			}
			@media (max-width: 1200px) {
				.digits__digit {
					span {
						font-size: 24px;
					}
					p {
						padding-bottom: 2px;
					}
				}
			}

			@media (max-width: 767px) {
				display: none;
			}

			@media (max-width: 479px) {
				display: block;
				left: 30px;
				right: unset;
				top: 120px;

				.digits__digit {
					margin-bottom: 10px;
					span {
						font-size: 24px;
					}

					p {
						font-size: 16px;
					}
				}
			}
		}
	}

	.top-main__adv .card-type-1:nth-child(3) {
		grid-column: unset;

		.card--value,
		.card--desc {
			width: 100%;
		}

		.card-type-1__img {
			display: none;
		}
	}

	@media (max-width: 479px) {
		.top-main__adv .card:nth-child(1) {
			height: 350px !important;
			background: url(../assets/images/example/hero-pharmacy/i-1-mob.png) !important;
			background-size: cover !important;
			max-height: unset;
		}

		.top-main__adv .card:nth-child(2) {
			height: 300px !important;
			background: url(../assets/images/example/hero-pharmacy/i-3-mob.png) !important;
			background-size: cover !important;
		}

		.top-main__adv .card:nth-child(4) {
			height: 300px !important;
			background: url(../assets/images/example/hero-pharmacy/i-2-mob.png) !important;
			background-size: cover !important;
		}
	}

	@media (max-width: 1200px) {
		.hero-manufactures__offer__bottom {
			margin-top: 36px;
			flex-direction: column;
		}
	}
	@media (max-width: 1024px) {
		.hero-manufactures__offer__bottom {
			margin-top: 36px;
			flex-direction: row;
		}
	}
	@media (max-width: 657px) {
		.hero-manufactures__offer__bottom {
			margin-top: 36px;
			flex-direction: column;
		}
	}
}
.pharmacy-page {
	.services-consumed {
		@media (max-width: 1200px) {
			margin-top: 80px !important;
		}
		.services__consumed__point__content {
			h4 {
				margin-top: 16px !important;
				@media (max-width: 1200px) {
					margin-top: 12px !important;
				}
				@media (max-width: 768px) {
					margin-top: 10px !important;
				}
				@media (max-width: 480px) {
					margin-top: 8px !important;
					margin-bottom: 10px !important;
				}
			}
		}
		.section-body {
			@media (max-width: 480px) {
				gap: 30px !important;
			}
		}
		padding-top: 90px !important;
		@media (max-width: 1200px) {
			padding-top: 80px !important;
		}
		@media (max-width: 768px) {
			padding-top: 72px !important;
		}
		.services-consumed__right {
			padding-top: 7px !important;
		}
		.services__consumed__point {
			margin-bottom: 32px !important;
			position: relative;
			@media (max-width: 480px) {
				&:before {
					content: '';
					width: 35px;
					height: 35px;
					border-radius: 999px;
					background-image: url('../assets/images/example/check.png');
					background-size: 65%;
					background-repeat: no-repeat;
					background-position: center;
					background-color: #6e67d2;
					position: absolute;
					display: flex;
					align-items: center;
					justify-content: center;
					top: 0;
					left: 60px;
				}
			}

			@media (max-width: 1200px) {
				margin-bottom: 28px !important;
			}
			@media (max-width: 768px) {
				margin-bottom: 24px !important;
			}
			@media (max-width: 480px) {
				gap: 19px !important;
				margin-bottom: 29px !important;
			}
			p {
				@media (max-width: 480px) {
					line-height: 129% !important;
				}
			}
			img {
				margin-top: 2px;
				@media (max-width: 480px) {
					margin-top: 0 !important;
					width: 94px;
					height: 94px;
				}
			}
		}
	}
	.integration {
		.integration__item {
			.intergration__item__pic {
				margin-bottom: 19px !important;
				@media (max-width: 1200px) {
					margin-bottom: 12px !important;
				}
			}
			.button-go {
				column-gap: 17px;
			}
		}
	}
	.contact {
		.contact__left {
			h2 {
				letter-spacing: -0.044em !important;
			}
		}
		.pdf {
			&:before {
				margin-right: 22px;
				width: 62px;
				@media (max-width: 768px) {
					margin-right: 2px;
				}
			}
		}
	}
}
.expert {
	padding-top: 90px;
	margin-top: 96px;
	border-top: 1px solid #e6e9f7;

	h2 {
		font-size: 48px;
		font-weight: 400;
		letter-spacing: -0.05em;
		margin-bottom: 36px;
		@media (max-width: 768px) {
			margin-bottom: 27px;
		}
		@media (max-width: 480px) {
			margin-bottom: 27px;
		}
	}

	@media (max-width: 1200px) {
		margin-top: 80px;
		padding-top: 80px;
		h2 {
			font-size: 32px;
		}
	}
	@media (max-width: 768px) {
		padding-top: 76px;
		margin-top: 74px;
	}
	@media (max-width: 480px) {
		padding-top: 76px;
		margin-top: 62px;
	}
	.accordion-title {
		padding: 48px !important;
		@media (max-width: 768px) {
			padding: 30px !important ;
		}
		span {
			@media (max-width: 768px) {
				letter-spacing: -1.4px;
			}
		}
	}

	.accordion-item {
		&:nth-child(2) {
			@media (max-width: 768px) {
				.accordion-title {
					padding: 35px 30px !important;
				}
			}
			@media (max-width: 480px) {
				.accordion-title {
					padding: 30px 18px 30px 30px !important;
				}
			}
		}
		&:first-child {
			.expert__item__right {
				h5 {
					@media (max-width: 768px) {
						max-width: 513px;
						line-height: 28px !important;
					}
					@media (max-width: 480px) {
						max-width: 100%;
					}
				}
			}
		}
		&:last-child {
			h5 {
				margin-bottom: 20px;
				@media (max-width: 768px) {
					margin-bottom: 10px;
				}
			}
			@media (max-width: 768px) {
				.accordion-title {
					padding: 40px 30px !important;
				}
			}
			.accordion-title {
				@media (max-width: 480px) {
					padding: 28px 30px !important;
				}
			}
		}
		&:nth-child(2) {
			.expert__item__right {
				h5 {
					@media (max-width: 768px) {
						margin-bottom: 6px;
					}
				}
			}
		}
	}
	.accordion-item.active {
		&:first-child {
			.accordion-body {
				@media (max-width: 480px) {
					margin-top: -12px;
					gap: 25px !important;
				}
				.expert__item__left {
					h5 {
						@media (max-width: 480px) {
							line-height: 27.24px !important;
						}
					}
					li {
						@media (max-width: 480px) {
							margin-bottom: 7.5px;
						}
					}
				}
				.expert__item__right {
					h5 {
						@media (max-width: 480px) {
							line-height: 24px !important;
							margin-bottom: 18px;
						}
					}
				}
			}
		}
		&:nth-child(2) {
			@media (max-width: 768px) {
				.accordion-body {
					margin-top: -8px;
					.expert__item__left {
						h5 {
							margin-bottom: 8px;
						}
					}
				}
			}
			@media (max-width: 480px) {
				.accordion-title {
					span {
						margin-top: 4px !important;
					}
				}
				.accordion-body {
					gap: 30px !important;
					margin-top: -4px !important;
					.expert__item__left {
						h5 {
							margin-bottom: 10px !important;
						}
						li {
						}
					}
					.expert__item__right {
						h5 {
							margin-bottom: 10px !important;
						}
					}
				}
			}
		}
		&:nth-child(3) {
			.accordion-body {
				@media (max-width: 768px) {
					margin-top: -13px;
					gap: 35px;
				}
			}
			.expert__item__right {
				h5 {
					@media (max-width: 768px) {
						margin-bottom: 4px;
					}
				}
			}
		}
	}
	.accordion-body {
		h5 {
			letter-spacing: 0 !important;
			line-height: 30.24px !important;
		}
	}
}

.expert__item {
	background: #f5f6f9;
	border-radius: 20px;
	overflow: hidden;
	transition: 0.3s ease;
	margin-bottom: 6px;

	.accordion-title {
		display: flex;
		gap: 30px;
		align-items: center;
		padding: 50px;
		font-size: 40px;
		color: $color-violet;
		letter-spacing: -0.02em;
	}

	&.active {
		.accordion-body {
			margin-top: -15px;
			@media (max-width: 768px) {
				margin-top: -5px;
			}
			@media (max-width: 480px) {
				margin-top: 0;
			}
		}
	}

	.accordion-body {
		padding: 0px 50px 50px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 30px;

		h5 {
			font-size: 24px;
			margin-bottom: 16px;
		}

		ul {
			li {
				font-size: 18px;
				margin-bottom: 10px;
				display: flex;
				align-items: flex-start;
				&:before {
					content: '';
					width: 5px;
					height: 5px;
					background: #6e67d2;
					margin-right: 15px;
					border-radius: 50%;
					flex-shrink: 0;
					margin-top: 8px;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	&.active {
		transition: 0.3s ease;
		.expert__item__arrow {
			svg {
				transform: rotate(270deg);
			}
		}
	}

	@media (max-width: 768px) {
		.accordion-title {
			font-size: 28px;
			text-align: left;
			padding: 30px;
		}

		.accordion-body {
			display: flex;
			flex-direction: column;
			padding: 0 30px 30px;
			@media (max-width: 768px) {
				gap: 37px;
				padding: 0 30px 27px;
			}
			h5 {
				font-size: 20px;
				@media (max-width: 768px) {
					margin-bottom: 13px;
				}
			}

			ul {
				li {
					font-size: 16px;
					margin-bottom: 8px;
					@media (max-width: 768px) {
						margin-bottom: 7px;
					}
				}
			}
		}
	}

	@media (max-width: 500px) {
		.accordion-title {
			align-items: flex-start;
			gap: 20px;
			letter-spacing: -0.05em;

			span {
				margin-top: -3px;
			}
		}
	}
}

.expert__item__arrow {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	border: 1px solid $color-violet;
	flex-shrink: 0;

	svg {
		transform: rotate(90deg);
	}
}

.benefits__inner {
	display: grid;
	grid-template-columns: 863px 1fr;
	gap: 30px;

	@media (max-width: 1200px) {
		grid-template-columns: 354px 1fr;
		gap: 20px;
	}
	@media (max-width: 767px) {
		display: flex;
		flex-direction: column;
		gap: 38px;
	}
}

.benefits {
	padding-top: 87px;
	margin-top: 90px;
	border-top: 1px solid #e6e9f7;
	@media (max-width: 480px) {
		padding-top: 76px !important;
		margin-top: 84px !important;
	}
	h2 {
		font-size: 50px;
		font-weight: 400;
		margin-bottom: 35px;
		margin-top: 0;
		letter-spacing: -0.05em;
		@media (max-width: 768px) {
			margin-bottom: 28px !important;
		}
	}
	.benefits__advantages {
		h3 {
			margin-bottom: 22px;
			@media (max-width: 768px) {
				margin-top: 28px !important;
				letter-spacing: -1.4px !important;
			}
		}
		ul {
			li {
				margin-bottom: 12px;
				@media (max-width: 768px) {
					margin-bottom: 9px !important;
				}
			}
		}
	}
	.b-error {
		margin-top: 8px;
		@media (max-width: 767px) {
			margin-top: 0;
		}
	}
	p {
		color: $color-violet;
		font-size: 24px;
		@media (max-width: 1200px) {
			line-height: 25.2px;
			font-size: 20px;
		}
	}

	h3 {
		font-size: 40px;
		color: $color-black;
		margin-bottom: 18px;
		margin-top: 70px;
		letter-spacing: -0.02em;
	}

	ul {
		li {
			font-size: 18px;
			margin-bottom: 12px;
			display: flex;
			align-items: flex-start;
			&:before {
				content: '';
				width: 5px;
				height: 5px;
				background: #6e67d2;
				margin-right: 15px;
				border-radius: 50%;
				flex-shrink: 0;
				margin-top: 8px;
			}
		}
	}

	@media (max-width: 1200px) {
		padding-top: 80px;
		margin-top: 80px;
		h2 {
			font-size: 32px;
			margin-bottom: 36px;
			line-height: 115%;
		}

		p {
			font-size: 20px;
		}

		h3 {
			font-size: 28px;
			margin-top: 40px;
		}

		ul {
			li {
				font-size: 16px;
				margin-bottom: 10px;
			}
		}
	}
}

@media (max-width: 1200px) {
	.benefits__advantages {
		display: none;
	}
}

@media (max-width: 767px) {
	.benefits__advantages {
		display: block;
		margin-top: 48px;
	}
}
@media (max-width: 480px) {
	.benefits__advantages {
		display: block;
		margin-top: 43px;
	}
}

.benefits__advantages-tablet {
	display: none;

	@media (max-width: 1200px) {
		display: block;
	}

	@media (max-width: 767px) {
		display: none;
	}
	h3 {
		@media (max-width: 1200px) {
			margin-bottom: 28px;
		}
	}
	li {
		@media (max-width: 1200px) {
			margin-bottom: 10px !important;
		}
	}
}

.benefits__advantages-tablet__lists {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.income {
	margin-top: 91px;

	@media (max-width: 1200px) {
		padding-top: 80px;
		border-top: 1px solid #e6e9f7;
		margin-top: 80px;
	}
	@media (max-width: 768px) {
		padding-top: 77px;
		margin-top: 68px;
	}
	@media (max-width: 480px) {
		padding-top: 75px;
		margin-top: 75px;
	}
	.income__card {
		&:first-child {
			.income__card__heading {
				@media (max-width: 768px) {
					max-width: 98px;
				}
			}
		}
	}

	.income__card__digits {
		p {
			margin-top: -4px;
			@media (max-width: 768px) {
				margin-top: -2px;
			}
		}
	}
}

.income__block {
	margin-bottom: 77px !important;
	&:last-child {
		h3 {
			@media (max-width: 768px) {
				margin-left: 2px;
			}
		}
		.income__card {
			.income__card__heading {
				@media (max-width: 768px) {
					max-width: 98px;
				}
			}
		}
	}
	h3 {
		font-size: 40px;
		letter-spacing: -0.02em;
		margin-top: 78px !important;
		@media (max-width: 1200px) {
			margin-top: 0 !important;
		}
		@media (max-width: 768px) {
			letter-spacing: -1.4px;
		}
		@media (max-width: 480px) {
			margin-bottom: 21px !important;
		}
	}
	.income__cards {
		row-gap: 30px !important;
		@media (max-width: 1200px) {
			row-gap: 20px !important;
		}
		@media (max-width: 768px) {
			row-gap: 16px !important;
		}
		@media (max-width: 480px) {
			row-gap: 21px !important;
		}
	}
	@media (max-width: 1200px) {
		h3 {
			font-size: 28px;
			margin-top: 0;
		}
	}
}

.income__card {
	padding: 50px;
	border: 1px solid #e6e9f7;
	border-radius: 20px;

	@media (max-width: 1400px) {
		padding: 20px;
	}
	@media (max-width: 480px) {
		padding: 18px 20px;
	}
}

.income__card__heading {
	font-size: 24px;
	color: $color-violet;
	margin-bottom: 20px;
	margin-top: 0;
	position: relative;
	@media (max-width: 480px) {
		margin-bottom: 13px !important;
	}
	span {
		position: absolute;
		font-size: 14px;
		color: #fff;
		background-color: $color-violet;
		padding: 10px;
		max-width: 215px;
		width: 100%;
		bottom: 150%;
		left: 0;
		border-radius: 10px;
		line-height: 130%;
		text-align: center;
		opacity: 0;
		transition: 0.3s ease;

		&:after {
			content: '';
			width: 16px;
			height: 16px;
			position: absolute;
			bottom: -8px;
			left: 50%;
			transform: translate(-50%, 0) rotate(45deg);
			background: $color-violet;
		}
	}

	&:hover {
		span {
			transition: 0.3s ease;
			opacity: 1;
		}
	}

	@media (max-width: 1200px) {
		font-size: 16px;
		height: 44px;
		margin-bottom: 20px;
	}

	@media (max-width: 630px) {
		font-size: 14px;
		height: 36px;
		margin-bottom: 16px;
	}
}

.income__card__digits {
	margin-bottom: 15px;

	&:last-child {
		margin-bottom: 0;
	}
	span {
		font-size: 60px;
		display: block;
		line-height: 1;
		letter-spacing: -0.05em;
		line-height: 105%;
	}

	p {
		font-size: 18px;
		margin-top: 0;
		@media (max-width: 480px) {
			margin-top: 0 !important;
		}
	}

	@media (max-width: 1200px) {
		margin-bottom: 16px;
		span {
			font-size: 32px;
		}

		p {
			font-size: 14px;
		}
	}

	@media (max-width: 640px) {
		margin-bottom: 16px;
		span {
			font-size: 30px;
		}

		p {
			font-size: 11px;
		}
	}
}

.income__cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 30px;
	row-gap: 22px;

	@media (max-width: 1200px) {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 20px;
	}

	@media (max-width: 767px) {
		grid-template-columns: 1fr 1fr;

		.income-hidden {
			display: none;
		}
	}
}

.income__result {
	padding: 54px 50px;
	background: #f1f0ff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 20px;
	margin-top: 30px;
	@media (max-width: 768px) {
		margin-top: 18px;
		gap: 12px !important;
	}
	@media (max-width: 480px) {
		padding: 26px 30px !important;
	}
	p {
		margin: 0;
		font-size: 24px;
	}

	span {
		font-size: 60px;
		color: $color-violet;
		letter-spacing: -3px;
	}

	@media (max-width: 1140px) {
		flex-direction: column;
		align-items: flex-start;
		padding: 30px;
		gap: 16px;

		span {
			letter-spacing: -0.05em;
		}
	}

	@media (max-width: 768px) {
		p {
			font-size: 20px;
		}

		span {
			font-size: 32px;
			line-height: 1;
			display: block;
		}
	}
}

.income__block {
	margin-bottom: 80px;

	@media (max-width: 768px) {
		margin-bottom: 58px !important;
	}
	@media (max-width: 480px) {
		margin-bottom: 55px !important;
	}
}

.pharmacy-page {
	.services-consumed .services__consumed__point {
		margin-bottom: 33px;
	}
	.services-consumed h2 {
		@media (max-width: 480px) {
			margin-bottom: 26px !important;
		}
	}
	.integration.integration2 {
		margin-top: 61px;
		padding-top: 90px;
		@media (max-width: 768px) {
			padding-top: 72px !important;
		}
	}

	.intergration__body {
		margin-top: 41px;
		@media (max-width: 768px) {
			row-gap: 31px !important;
		}
	}

	.contact {
		margin-top: 95px;
		@media (max-width: 1200px) {
			margin-top: 80px !important;
			margin-bottom: 96px !important;
		}
		@media (max-width: 480px) {
			margin-top: 76px !important;
			padding-top: 84px !important;
		}
		.contact__left h2 {
			margin-top: -6px;
			margin-bottom: 36px;
			@media (max-width: 1200px) {
				margin-bottom: 20px;
			}
			@media (max-width: 768px) {
				margin-bottom: 12px;
			}
		}
		.download {
			@media (max-width: 1200px) {
				margin-bottom: 0;
			}
		}
		.contact__right {
			@media (max-width: 1200px) {
				padding-top: 16px !important;
			}
			@media (max-width: 768px) {
				padding-top: 18px !important;
			}
			@media (max-width: 480px) {
				padding-top: 21px !important;
			}
		}
		.contact__form__bottom {
			@media (max-width: 1200px) {
				margin-top: 28px !important;
			}
		}
	}

	@media (max-width: 1200px) {
		.services-consumed .section-header h2 {
			margin-bottom: 23px;
		}

		.services__consumed__point img {
			width: 105px;
			height: 105px;
		}

		.services-consumed__left h3 {
			margin-bottom: 19px;
			letter-spacing: -0.05em;
		}

		.services__consumed__point h4 {
			margin-top: 6px;
		}

		.services__consumed__point p {
			font-size: 14px;
		}

		.services-consumed .services__consumed__point {
			margin-bottom: 28px;
		}

		.services-consumed__right {
			margin-top: -30px;
		}

		.integration.integration2 {
			margin-top: 80px;
			padding-top: 80px;
		}

		.intergration__body {
			margin-top: 27px;
			gap: 36px 20px;
		}

		.integration .section-header h2 {
			margin-bottom: 29px;
		}

		.intergration__item__pic {
			margin-bottom: 12px;
		}
	}
}
