.select {
	padding: 0 24px;
	border: 0;
	height: 63px;
	width: 100%;
	border: 1px solid $color-black;
	-webkit-appearance: none;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.03125 0H13.0313L6.53125 8L0.03125 0Z' fill='%23002A3A'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-size: 13px;
	background-position: right 24px center;

	@include mq('tablet') {
		//max-width 1024px  (мобильное меню)
		height: 52px;
	}

	&__option {
		padding: 18px 20px;
	}
}


.select-wrap{
	width: 100%;
	position: relative;
	user-select: none;
	ul > li {
		padding-left: 0;
		font-size: 18px;
		line-height: 1.6;
		&::before {
			display: none;
		}
		@include mq('desktop-tiny') { //max-width 1200px (начинается версия tablet)
			font-size: 16px;
		}
	}
	.select-selected{
		-webkit-appearance: none;
		background: $color-white;
		position: relative;
		cursor: pointer;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='17' height='9' fill='none' xmlns='http://www.w3.org/2000/svg' id='arrow-select'%3e%3cpath d='M1 1a8.898 8.898 0 0 1 7.471 7.567l.029.203.029-.203A8.898 8.898 0 0 1 16 1' stroke='%23396542'/%3e%3c/svg%3e");
		background-repeat: no-repeat;
		background-position: right bottom 25px;
		background-size: auto;
		@include mq('desktop-tiny') { //max-width 1200px (начинается версия tablet)
			background-position: right bottom 13px;
		}
		&:focus {
			outline: none;
		}
		li{
		}
		&:before{
			content: "";
			display: block;
			position: absolute;
			//top: rem(55);
			bottom: 20px;
			right: 0;
			width: 17px;
			height: 10px;
			background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='17' height='9' fill='none' xmlns='http://www.w3.org/2000/svg' id='arrow-select'%3e%3cpath d='M1 1a8.898 8.898 0 0 1 7.471 7.567l.029.203.029-.203A8.898 8.898 0 0 1 16 1' stroke='%23396542'/%3e%3c/svg%3e");
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			transition: $transition;
			@include mq('desktop-tiny') { //max-width 1200px (начинается версия tablet)
				bottom: 10px;
			}
		}
	}
	.select-items{
		position: absolute;
		top: 90px;
		left: 0;
		width: 100%;
		background: #fff;
		border-radius: 5px;
		display: none;
		z-index: 3;
		li{
			padding: 10px 0;
			cursor: pointer;
			
			&:hover{
				//background: $color-gold-light;
			}
		}
	}
	.option {
		display: flex;
		align-items: center;

		&.default {
			opacity: 0.7;
		}
	} 
	&.--active .select-items{
		display: block;
	}
	&.--active .select-selected:before{

		transform: rotate(-180deg);
	}
}